:root {
    --darkest-blue:  #072F5F;
    --dark-blue: #1261A0;
    --medium-blue: #3895D3;
    --light-blue:  #D1EBFF;
    --light-orange: #FFB100;
    --dark-orange: #FF7F00; 
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    background-color: var(--light-blue);
    font-family: Helvetica, sans-serif;
    color: var(--darkest-blue); 
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    position: relative;
}

nav {
    display: flex;
    background-color: var(--dark-blue);
    color: white;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    padding:0 20px;
}

a:hover {
    color: var(--light-orange)
}

a:active {
    color: var(--dark-orange)
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
}

footer {
    background-color: var(--dark-blue);
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-weight: bold;
}

main {
    height: 100%;
    justify-content: flex-start;
    padding: 20px;
}

.dark-blue {
    height: 400px;
    background-color:var(--dark-blue);
}

.light-blue {
    background-color:var(--light-blue);
    height: 450px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 0 20px 20px 20px;
}

.image-container {
    display: flex;
    z-index: 1;
    height: 350px;
    width: calc(100% - 40px);
    position: absolute;
    top: 20%;
    margin: 20px;
    justify-content: space-between;


}

img {
    height: 100%;
    width: 100%;
object-fit: cover;
}

.image-box {
    padding: 20px;
    background-color: var(--medium-blue);
}

.wide {
    width: 66%;
}

.narrow {
    width: 33%;
    margin-right: 20px;
}

.apply-button {
    background-color: var(--light-orange);
    border-color: var(--dark-orange);
    border-width: 5px;
    color: white; 
    border-radius: 50%;
    width: 200px;
    height: 200px;
    z-index: 2;
    position: absolute;
    top: 100px;
    left: 700px;
    font-size: 30px;
    font-weight: bold;
    border-style: solid;
}

.login {
    font-size: 16px;
    background: none;
    border: none; 
    color: var(--light-orange); 
    font-weight: bold;
}

.card {
    height: 450px;
    width: calc(33% - 60px);
    padding: 20px;
    background-color: var(--medium-blue);
    margin: 10px 10px 10px 10px; 
    display: flex;
    flex-direction: column;
}

.card > img {
    height: 60%;
}

.card-box {
    height: 40%;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.card-holder {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

.login-page {
    display: flex;
    flex-direction: column;
}

.login-submit {
    padding: 10px;
    background-color: var(--light-orange);
    border-color: var(--dark-orange);
    border-radius: 20px;
    width: 75px;
    border-style: solid;
    margin-top: 20px;
    font-weight: bold;
    color: white;
}

.input {
    width: 50%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-style: italic;
    font-family: Helvetica, sans-serif;
}

p {
    width: 50%;
}

#message {
    height: 100px;
}

.search-box {
    height: 450px;
    background-color: var(--medium-blue);
    width: calc(100% - 40px);
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.parametre {
    height: calc(100% - 40px);
    width: calc(33% - 40px);
    background-color: white;
    margin: 20px;
    padding: 20px;
}

.input-search {
    width: calc(100% - 40px);
    background-color: var(--light-blue);
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-style: italic;
    font-family: Helvetica, sans-serif;
}
